@model IEnumerable<Modelos.Conta>

@{
    ViewBag.Title = "Index";
    double totalPagar = 0;
    double totalPago = 0;
    double vlrMedioConta = 0;
    double vlrMedioContaPaga = 0;
    int nContas = 0;
    int nContasPagas = 0;
}

<h2>Minhas Contas</h2>
<h4>Contas a pagar</h4>
<p>
    @Html.ActionLink("Cadastrar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

    @{
        foreach (var item in Model)
        {

            if (item.Pago == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdConta }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdConta }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdConta })
                    </td>
                </tr>


                {
                    totalPagar += item.Valor;
                    nContas += +1;
                }
            }
        }
        vlrMedioConta = totalPagar / nContas;
    }
</table>

<tr>
    <td>
        <h1>Total: R$@totalPagar</h1>
        <h3>Valor medio de conta: R$@vlrMedioConta</h3>
    </td>
</tr>
<br /><br /><br /><br />
<h4>Contas Pagas</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

    @{
        foreach (var item in Model)
        {

            if (item.Pago == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdConta }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdConta }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdConta })
                    </td>
                </tr>


                {
                    totalPago += item.Valor;
                    nContasPagas += +1;
                }
            }
        }
        vlrMedioContaPaga = totalPago / nContasPagas;
    }
</table>

<tr>
    <td>
        <h1>Total: R$@totalPago</h1>
        <h3>Valor medio pago por conta: R$@totalPago</h3>
    </td>
</tr>



